<!DOCTYPE html>
<html>
  <head>
    <title><%=  title  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <!-- Font Aweseome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hhh-logo" href="/live"><img src="/img/hhh-logo.svg" alt="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/live">Speel mee</a></li>
            <li><a href="/videos">Achter de schermen</a></li>
            <li><a href="/recepten">Recepten</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <% if (gameFirst === true && gameSecond === true && gameThird === true) { %>  

      <div class="alert alert-success" role="alert">U heeft alle spelletjes ingevuld. <a class="btn btn-primary btn-md" href="/score">Bekijk hier uw score!</a></div>

    <% } %>


