<!DOCTYPE html>
<html>
  <head>
    <title><%=  title  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <!-- Font Aweseome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse right navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand hhh-logo" href="/live"><img src="/img/hhh-logo.svg" alt="logo"></a>
        </div>
      </div>
    </nav>


    <% if (gameFirst === true && gameSecond === true && gameThird === true) { %>  

      <div class="alert alert-success" role="alert">U heeft alle spelletjes ingevuld. <a class="btn btn-primary btn-md" href="/score">Bekijk hier uw score!</a></div>

    <% } %>

    <!-- Modal info -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Speluitleg</h4>
          </div>
          <div class="modal-body">
            <p>Welkom bij het tweede scherm van Heel Holland bakt. Hier kunt u verder kijken dan alleen het programma op uw tv. Doe mee met het programma door de spelletjes (trofee's boven in beeld) of bekijk hoe de bakkers zich hebben voorbereid op de uitzending. Ook kunt u als de bakkers aan het bakken zijn de recepten die in het programma worden gemaakt bekijken.</p>
            <p>De spelletjes werken als volgt:</p>
            <ul>
              <li>Bovenin staan drie trofee's</li>
              <li>Als een van deze oranje oplicht kunt u deze spelen <i class="fa fa-trophy"></i></li>
              <li>Als u op opslaan heeft gedrukt of als de tijd op is, is het spel afgelopen en wordt de trofee grijs</li>
              <li>Wanneer alle spelletjes gespeeld zijn verschijnt er een "bekijk score" knop en kunt u uw score bekijken</li>
              <li>Veel plezier!</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Uitleg sluiten</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal gameOne -->
    <div id="gameOne" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Speluitleg 'Signatuuropdracht'</h4>
          </div>
          <div class="modal-body">
            <p>Wanneer u op 'spel starten' drukt begint het eerst spel. Hier kan je tijdens de opdracht in het programma de eindstand voorspellen. Hieronder de regels:</p>
            <ul>
              <li>Wanneer u op start drukt begint de tijd te lopen</li>
              <li>U heeft één minuut om de opdracht te voltooien</li>
              <li>Wanneer u op opslaan heeft gedrukt keert u terug naar het live scherm en kunt u uw beslissing niet meer wijzigen</li>
            </ul>
          </div>
          <div class="modal-footer center-block">
            <a href="/signatuur"><button type="button" class="text-center btn btn-primary btn-lg">Spel starten</button></a>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal gameTwo -->
    <div id="gameTwo" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Speluitleg 'Technische opdracht'</h4>
          </div>
          <div class="modal-body">
            <p>Wanneer u op 'spel starten' drukt begint het eerst spel. Hier kan je tijdens de opdracht in het programma de eindstand voorspellen. Hieronder de regels:</p>
            <ul>
              <li>Wanneer u op start drukt begint de tijd te lopen</li>
              <li>U heeft één minuut om de opdracht te voltooien</li>
              <li>Wanneer u op opslaan heeft gedrukt keert u terug naar het live scherm en kunt u uw beslissing niet meer wijzigen</li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="/technisch"><button type="button" class="text-center btn btn-primary btn-lg">Spel starten</button></a>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal gameThree -->
    <div id="gameThree" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Speluitleg 'Spektakelstuk'</h4>
          </div>
          <div class="modal-body">
            <p>Wanneer u op 'spel starten' drukt begint het eerst spel. Hier kan je tijdens de opdracht in het programma de eindstand voorspellen. Hieronder de regels:</p>
            <ul>
              <li>Wanneer u op start drukt begint de tijd te lopen</li>
              <li>U heeft één minuut om de opdracht te voltooien</li>
              <li>Wanneer u op opslaan heeft gedrukt keert u terug naar het live scherm en kunt u uw beslissing niet meer wijzigen</li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="/spektakel"><button type="button" class="text-center btn btn-primary btn-lg">Spel starten</button></a>
          </div>
        </div>

      </div>
    </div>


