<% include partials/head.ejs %>

<main class="landing">
    <div class="header-photo">
      <img src="img/mainfoto.jpg" alt="headerfoto">
		</div>
    <div class="container">
      <h1 class="text-center">Welkom bij Heel Holland Bakt!asdfasdf</h1>

      <p class="text-center">Bekijk fragmenten over hoe de kandidaten zich voorbereiden. Ook kun u meedoen met de uitzending en alle recepten bekijken. Als u iets niet begrijpt drukt u rechtsboven op de i.</p>
      <div class="text-center">
        <a href="/live" class="btn btn-primary btn-lg">Ga verder</a>
      </div>
    </div>
</main>
 
<% include partials/foot.ejs %>
