<% include partials/head.ejs %>

<main class="live container">
  <section class="recipes">
    <div class="row">
      <h1 class="text-center">Recepten in de aflevering:</h1>
      <% for(var i = 0; i <= recipeThumbs.length - 1; i++) { %>
          <div class="fragment col-md-4">
            <div class="panel panel-default">
              <a href="recepten/recipe/<%= i %>" class="recipe-preview"><img class="media-object" src="<%= recipeThumbs[i].imgUrl %>" alt="video"></a>
              <div class="panel-body">
                <h4><%= recipeThumbs[i].title %></h4>
              </div>
            </div>
          </div>
      <% } %>
    </div>
  </section>
</main>



</main>
 
<% include partials/foot.ejs %>
