<% include partials/head.ejs %>

<main class="game-screen container text-center signatuur">
  <h1>Dat was het dan!</h1>
  <p>De uizending is afgelopen. Bekijk hieronder je score en alle recepten.</p>
  <div class="score">
    <div id="burst-12"></div>
  </div>
  
  <div class="share-btns">
    <a class="twitter share" href="#"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
    <a class="facebook share" href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
  </div>
</main>
 
<% include partials/foot.ejs %>
